*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI, Arial, sans-serif;
background:#0e0e11;
color:#e4e4e4;
line-height:1.6;
}

/* HEADER */

header{
background-image:url("/assets/logo.png");
background-size:120px;
background-repeat:no-repeat;
background-position:center;
height:150px;

display:flex;
align-items:center;
justify-content:space-between;

padding:0 40px;

box-shadow:0 5px 20px rgba(0,0,0,0.5);

background-color: black;
}

header h1{
font-size:26px;
}

/* NAV */

nav a{
text-decoration:none;
color:white;
margin-left:25px;
font-weight:500;
transition:0.2s;
}

nav a:hover{
color:#6ea8ff;
}

/* HERO */

.hero{
text-align:center;
padding:100px 20px;
border-bottom:1px solid #1f1f1f;
}

.hero h1{
font-size:48px;
margin-bottom:10px;
}

.hero p{
color:#b0b0b0;
font-size:18px;
}

/* PROJECT PAGE */

.project-page{
max-width:900px;
margin:auto;
padding:80px 20px;
border-top:1px solid #1f1f1f;;
}

.project-page h2{
margin-bottom:20px;
font-size:30px;
}

.github{
text-align:center;
padding:80px 20px;
border-top:1px solid #1f1f1f;
}

.button{
display:inline-block;
margin-top:20px;
padding:12px 25px;

background:#4c8dff;
color:white;
text-decoration:none;

border-radius:8px;

font-weight:600;
transition:0.2s;
}

.button:hover{
background:#6ea8ff;
}

/* FOOTER */

footer{
margin-top:60px;
padding:30px;
text-align:center;
border-top:1px solid #222;
color:#777;
}