body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
}

h1, h2 {
    margin: 0;
}

p {
    line-height: 1.6;
}

table {
    border-collapse: collapse;
    box-sizing: border-box;
    border-color: #ffffff;
    display: block;
    margin: auto;
}

th, td {
    margin: auto;
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: left;
}

th {
    text-align: center;
}

.mirrorvrabout{
    text-align: center;
    margin:auto;
    width: 65%;
}


nav {
    text-align: center;
    margin-bottom: 20px;
}
.projectslist{
    margin: auto;
    width: unset;
    text-align: left;
    padding: 20px;
}

li {
    margin: auto;
    text-align: left;
    padding: 5px;
}

#redeemButton {
    background-color: #1E90FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    width: 200px;
}

#ci_banner {
    width: 80%;
    display: block;
    margin: auto;
}